body {
  margin-top: 2em;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}
#menu-bar {
  margin-top: 1em;
}
.filters {
  display: inline-block;
  float: none;
}
label {
  margin-bottom: 2px;
}
.checkbox-inline>label {
  font-weight: lighter;
}
.row>.well {
  margin-top: 1em;
}
